extends layout

block content	
	.jumbotron
		.container
			h1  Welcome to Express web portal
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
			tempor incididunt ut labore et dolore magna aliqua.
			quis nostrud exercitation ullamco laboris
			br
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
		img(src='all.png')

